<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Dev Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Dev Skills</h1>
    <h3><%= devSkill.devSkill %></h3>
    <h3>learned? <%= devSkill.learned ? 'yes' : 'not quite' %></h3>
</body>
</html>